# \\Add the logo here\\

**Scale your pandas workflows by changing one line of code**

## Exercise 1: How to use Modin

**GOAL**: Learn how to import Modin to accelerate and scale pandas workflows.

Modin is a drop-in replacement for pandas that distributes the computation 
across all of the cores in your machine or [in a cluster (experimental)](https://modin.readthedocs.io/en/latest/using_modin.html#using-modin-on-a-cluster-experimental).
In practical terms, this means that you can continue using the same pandas scripts
as before and expect the behavior and results to be the same. The only thing that needs
to change is the import statement. Normally, you would change:

```python
import pandas as pd
```

to:

```python
import modin.pandas as pd
```

Changing this line of code will allow you to use all of the cores in your machine to do computation on your data. One of the major performance bottlenecks of pandas is that it only uses a single core for any given computation. Modin exposes an API that is identical to Pandas, allowing you to continue interacting with your data as you would with Pandas. There are no additional commands required to use Modin locally. Partitioning, scheduling, data transfer, and other related concerns are all handled by Modin under the hood.

# \\Add the image here\\

### Concept for exercise: Dataframe constructor

Often when playing around in Pandas, it is useful to create a DataFrame with the constructor. That is where we will start.

```python
import numpy as np
import pandas as pd

frame_data = np.random.randint(0, 100, size=(2**10, 2**5))
df = pd.DataFrame(frame_data)
```

When creating a dataframe from a non-distributed object, it will take extra time to partition the data. When this is happening, you will see this message:

```
UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.
```

**In a later exercise, we will discuss times when it is not possible to speed up the computation, even with multiprocessing or multithreading.**

In [2]:
# Note: Do not change this code!
import numpy as np
import pandas
import subprocess
import sys
import platform

if platform.system().title() == "Windows":
    import os
    os.environ["MODIN_ENGINE"] = "dask"

import modin

In [3]:
pandas.__version__

'0.25.1'

In [4]:
modin.__version__

'0.6.1'

In [5]:
# Implement your answer here. You are also free to play with the size
# and shape of the DataFrame, but beware of exceeding your memory!

import modin.pandas as pd

frame_data = np.random.randint(0, 100, size=(2**10, 2**5))
df = pd.DataFrame(frame_data)

# ***** Do not change the code below! It verifies that 
# ***** the exercise has been done correctly. *****

try:
    assert df is not None
    assert frame_data is not None
    assert isinstance(frame_data, np.ndarray)
except:
    raise AssertionError("Don't change too much of the original code!")
assert "modin.pandas" in sys.modules, "Not quite correct. Remember the single line of code change (See above)"

import modin.pandas
assert pd == modin.pandas, "Remember the single line of code change (See above)"
assert hasattr(df, "_query_compiler"), "Make sure that `df` is a modin.pandas DataFrame."

print("Success! You only need to change one line of code!")

UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.

Success! You only need to change one line of code!

Now that we have created a toy example for playing around with the DataFrame, let's print it out in different ways.

### Concept for Exercise: Data Interaction and Printing

When interacting with data, it is very imporant to look at different parts of the data (e.g. `df.head()`). Here we will show that you can print the modin.pandas DataFrame in the same ways you would pandas.

In [6]:
# Print the first 10 lines.
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,59,63,52,1,66,98,93,64,40,92,...,58,24,5,3,19,63,52,31,80,60
1,46,70,72,32,30,63,98,45,12,79,...,88,27,78,83,83,90,30,96,85,47
2,2,46,96,37,10,1,7,86,30,57,...,37,87,69,2,11,72,13,75,66,26
3,34,91,57,60,30,75,40,32,95,43,...,4,58,63,13,79,35,87,18,14,35
4,39,74,29,68,33,63,94,86,98,53,...,16,6,95,56,2,14,37,52,56,33
5,82,20,38,52,26,42,70,77,45,39,...,81,90,24,80,3,6,37,29,79,74
6,0,9,80,37,21,90,81,80,39,88,...,73,21,41,22,63,58,78,57,31,27
7,2,16,77,53,9,88,42,37,98,90,...,16,70,11,6,26,83,4,74,11,29
8,50,23,69,44,82,32,66,51,41,12,...,66,24,21,28,45,66,33,79,0,14
9,73,96,20,3,58,2,93,95,50,45,...,33,34,15,23,65,81,1,1,53,1

In [7]:
# Print the DataFrame.
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,59,63,52,1,66,98,93,64,40,92,...,58,24,5,3,19,63,52,31,80,60
1,46,70,72,32,30,63,98,45,12,79,...,88,27,78,83,83,90,30,96,85,47
2,2,46,96,37,10,1,7,86,30,57,...,37,87,69,2,11,72,13,75,66,26
3,34,91,57,60,30,75,40,32,95,43,...,4,58,63,13,79,35,87,18,14,35
4,39,74,29,68,33,63,94,86,98,53,...,16,6,95,56,2,14,37,52,56,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,6,62,10,68,13,40,91,57,13,30,...,35,69,19,47,77,64,98,10,88,32
1020,81,2,14,93,54,52,58,26,95,3,...,20,80,16,81,14,1,34,9,56,24
1021,46,63,2,32,18,60,65,41,73,64,...,54,18,22,30,70,73,1,79,24,99
1022,84,10,47,52,95,76,39,21,37,36,...,12,34,34,55,72,69,29,7,86,69
1023,4,57,46,63,10,78,56,75,94,89,...,98,51,56,51,57,73,53,49,85,76

In [ ]:
# Free cell for custom interaction (Play around here!)